---
const { title } = Astro.props;
---

<div class="info-card">
  <h3 class="info-card__title">{title}</h3>

  <div class="info-card__body">
    <slot />
  </div>
</div>

<style>
  .info-card {
    border: 1px solid var(--border);
    background: var(--bg2);
    border-radius: var(--radius);
    padding: 1.5rem;
    box-shadow: 5px 5px;
    margin-top: 1.5rem;
  }

  .info-card__title {
    margin-top: 0;
    font-family: "Lora Variable";
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.5rem;
  }

  .info-card__body {
    font-size: 0.95rem;
    line-height: 1.6;
  }
</style>